@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */

.navbar{
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
.weed{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 2px;
}

.proBeyond{
  background-color: #000000;
  width: 100%;
  height: 2rem;
  color: white;
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* .weed {
    left: 50%;
    top: 50%;
  --borderWidth: 3px;
  background: #1D1F20;
  border-radius: var(--borderWidth);
}
.weed:after {
  content: '';
  position: absolute;
  left: calc(-1 * var(--borderWidth));
  height: 10px;
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 100% 100%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
.navlinks{
  width: 30%;
  display: flex;
  justify-content: space-around;
  
}
.navlinks span{
  cursor: pointer;
}

.heroScreen{
  height: 80vh;
  width: 100%;
  background-color: #010001;
  display: flex;
  overflow-y: hidden;

  
}

.video {   
  width: 50%;
  /* z-index: -1;  */
}
.video{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.photo{
  top: 10%;
  position: absolute;
  z-index: 2;

}

.secondScreen{
  background-color: #161617;
  width: 100%;
  height: 200vh;
  font-family: 'Roboto', sans-serif;
}
.boxOne{
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.boxTwo{
  display: flex;
  width: 100%;
  justify-content: center;
}
.boxTwo .colOne{
  margin: 0 20px;
}
.boxTwo .colOne .card{
  background-color: #000000;
  width: 600px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  color: white;
  overflow: hidden;
}
.boxTwo .colOne .card div{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  font-size: 2rem;
}
.boxTwo .colOne .card Image{
  /* width: 400px; */
}
.boxTwo .colTwo{
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.boxTwo .colTwo .cardOne{
  background-color: #000000;
  width: 400px;
  height: 310px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.cameraDeets{
  color:#e7e7e7;
  z-index: 2;
  position: absolute;
  display: flex;
  font-size: 170%;
  left:20px;
  flex-direction: column;
  top: 70%;
}
.iphoneChip{
  width: 110%;
  height: 110%;
  z-index: 2;
}
.chipDeets{
  position: absolute;
  top: 35px;
  left: 58px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-size:40px;
}
.spanOne{
  color:#CECECE;
  font-size: 2rem;
}
.spanTwo{
  color:#86868B;
  font-size: 1.2rem;
}
.spanThree{
  background-color: #0071E3;
              padding:10px;
              width:50px;
              text-align: center;
              border-radius: 20px;
              font-size:1rem;
}
.miniScreen{
  display: none;
}
@media screen and (max-width:900px){
  .heroScreen{
    display: none;
  }
  .navlinks{
    display: none;
  }
  .boxTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .boxTwo .colOne{
    display: flex;
    justify-content: center;
  }
  .boxTwo .colTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .boxTwo .colOne .card{
    width: 80%;
  }
  .boxTwo .colTwo .cardOne{
    width: 100%;
  }
  .boxOne{
    width: 100%;
    text-align: center;
  }
  .spanOne{
    color:#CECECE;
    font-size: 150%;
    width: 50%;
  }
  .spanTwo{
    font-size: 100%;
    width: 50%;
  }
  .miniScreen{
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: 50vh;
  }
  .miniScreen video{
    width: 50%;
  }
  .proBeyond{
    font-size: 200%;
  }
}